@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body{
    background: #14011d;
    font-family: 'Roboto', sans-serif;
}
.user__main{
    border-right: 1px solid rgb(156, 154, 154);
}
.user__main img{
    border-radius: 150px;
}